.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.range {
  margin-left: -10px;
  margin-right: -10px;
}
.range:after {
  content: '';
  display: block;
  clear: both;
}
.col-1 {
  width: 8.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-1 {
  margin-left: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-2 {
  margin-left: 16.66666667%;
}
.col-3 {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-4 {
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-4 {
  margin-left: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-5 {
  margin-left: 41.66666667%;
}
.col-6 {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-7 {
  width: 58.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-7 {
  margin-left: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-8 {
  margin-left: 66.66666667%;
}
.col-9 {
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-10 {
  width: 83.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-10 {
  margin-left: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-11 {
  margin-left: 91.66666667%;
}
.col-12 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-offset-12 {
  margin-left: 100%;
}
@font-face {
  font-family: 'Segoe Ui Lite';
  src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
  src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui Bold';
  src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
  src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
  src: url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'), url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ffbold {
  font-family: "Segoe Ui Bold", sans-serif;
}
.ffnormal {
  font-family: "Segoe Ui", sans-serif;
}
.fflite {
  font-family: "Segoe Ui Lite", sans-serif;
}
html,
body {
  font-family: "Segoe Ui", sans-serif;
}
h2 {
  font-family: "Segoe Ui Bold", sans-serif;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 48px;
}
input,
button,
textarea {
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */
}
input::-webkit-input-placeholder,
button::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #434242;
}
input::-moz-placeholder,
button::-moz-placeholder,
textarea::-moz-placeholder {
  color: #434242;
}
input:-moz-placeholder,
button:-moz-placeholder,
textarea:-moz-placeholder {
  color: #434242;
}
input:-ms-input-placeholder,
button:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #434242;
}
ul {
  padding: 0;
  margin: 0;
}
.btn {
  font-weight: bold;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #ffe252;
  font-size: 18px;
  padding: 17px;
}
.form {
  padding: 35px 25px;
  border: 1px solid #b7b7b7;
  margin-left: 0;
  margin-right: 0;
}
.form input {
  font-size: 18px;
  padding: 15px;
}
.owl-carousel .owl-nav {
  display: block;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-carousel .owl-nav .owl-prev {
  left: -80px;
  background-image: url(../img/sprite.png);
  background-position: -339px -133px;
  width: 17px;
  height: 46px;
}
.owl-carousel .owl-nav .owl-prev:hover {
  background-image: url(../img/sprite.png);
  background-position: -305px -179px;
  width: 17px;
  height: 46px;
}
.owl-carousel .owl-nav .owl-next {
  right: -80px;
  background-image: url(../img/sprite.png);
  background-position: -305px -133px;
  width: 17px;
  height: 46px;
}
.owl-carousel .owl-nav .owl-next:hover {
  background-image: url(../img/sprite.png);
  background-position: -322px -133px;
  width: 17px;
  height: 46px;
}
header {
  padding: 15px 0 8px 0;
}
header .logo {
  width: 8.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-left: 20px;
}
header .main-nav {
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-left: 29px;
  padding-top: 46px;
}
header .main-nav li {
  display: inline-block;
  margin-right: 25px;
}
header .main-nav ul a {
  display: inline-block;
  color: #434242;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 13px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .main-nav ul a:hover {
  border-bottom: 4px solid #f08456;
}
header .contacts {
  width: 16.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  text-align: center;
}
header .phone {
  display: inline-block;
  font-family: "Segoe Ui Bold", sans-serif;
  letter-spacing: -1px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin: 4px 0 13px 0;
  text-decoration: none;
}
header .btn-recall {
  background-color: #f08456;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  padding: 14px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.promo {
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 37px 0;
}
.promo-text {
  width: 66.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  color: #ffffff;
}
.promo-text__head {
  font-size: 30px;
  line-height: 30px;
  margin: 35px 0 11px 0;
  font-family: "Segoe Ui Bold", sans-serif;
  text-transform: uppercase;
}
.promo-text__slogan {
  font-size: 32px;
  line-height: 36px;
  padding: 0;
  margin: 0;
}
.form-calculate {
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.form-calculate .calculate__head {
  color: #434242;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.form-calculate .calculate__head strong {
  font-family: "Segoe Ui Bold", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-calculate .form {
  background-color: rgba(255, 255, 255, 0.8);
  color: #434242;
  padding: 24px 29px 31px 33px;
  border: none;
}
.form-calculate .form input:nth-of-type(1),
.form-calculate .form input:nth-of-type(2),
.form-calculate .form input:nth-of-type(3) {
  width: 100%;
}
.form-calculate .form input:nth-of-type(4),
.form-calculate .form input:nth-of-type(5) {
  width: 48%;
}
.form-calculate .form input:nth-of-type(4) {
  margin-right: 4%;
}
.form-calculate .form input {
  float: left;
  background-color: transparent;
  font-size: 18px;
  border: 1px solid #434242;
  padding: 16px 10px;
  margin-bottom: 15px;
}
.form-calculate .form .btn {
  background-color: #ffe252;
  width: 100%;
  padding: 15px 10px;
}
.action {
  padding: 80px 0 70px 0;
  color: #ffffff;
}
.action .range {
  margin: 0;
}
.action__slogan {
  width: 41.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  float: none;
  display: table-cell;
  background-color: #f08456;
  vertical-align: middle;
  margin-left: 10px;
}
.action__slogan span {
  font-family: "Segoe Ui Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  display: inline-block;
  padding-left: 150px;
  position: relative;
}
.action__slogan span:before {
  position: absolute;
  content: '';
  display: block;
  left: 30px;
  background-image: url(../img/sprite.png);
  background-position: -217px 0px;
  width: 88px;
  height: 102px;
}
.action__slogan strong {
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  display: block;
}
.action__description {
  width: 58.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  float: none;
  position: relative;
  display: table-cell;
  background-color: #336699;
  padding: 22px 0;
  vertical-align: middle;
}
.action__description h2 {
  font-family: "Segoe Ui Lite", sans-serif;
  font-weight: normal;
  font-size: 34px;
  line-height: 48px;
  padding: 0;
  margin: 0 70px 0 100px;
  text-align: left;
  text-transform: none;
}
.action__description h2 strong {
  font-family: "Segoe Ui Bold", sans-serif;
}
.action__description:before {
  content: '';
  position: absolute;
  display: table-cell;
  width: 75px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -55px;
  background-image: -webkit-linear-gradient(21deg, #f08456 0%, #f08456 50%, #3c5c81 50%, #336699 55%, #336699 100%);
  background-image: linear-gradient(69deg, #f08456 0%, #f08456 50%, #3c5c81 50%, #336699 55%, #336699 100%);
}
.gift {
  color: #434242;
  text-align: center;
  margin-bottom: 60px;
}
.gift .form-gift {
  -webkit-box-shadow: 0px 20px 20px -10px #d6d4d4;
  box-shadow: 0px 20px 20px -10px #d6d4d4;
}
.gift .form-gift__col {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.gift .form-gift__item {
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-left: 35px;
  padding-right: 35px;
}
.gift .form-gift__item input,
.gift .form-gift__item button {
  width: 100%;
}
.gift__slogan {
  font-size: 30px;
  font-family: "Segoe Ui Bold", sans-serif;
  text-transform: uppercase;
}
.gift__head {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 30px 0;
  font-family: "Segoe Ui", sans-serif;
  font-weight: normal;
  text-transform: none;
}
.gift .form-gift {
  padding: 35px 0;
}
.gift__col {
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-left: 35px;
  padding-right: 35px;
}
.gift__col input,
.gift__col button {
  width: 100%;
}
.gift__photo {
  width: 100%;
  display: block;
}
.gift__item {
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  height: 370px;
  cursor: pointer;
}
.gift__description {
  position: absolute;
  text-align: left;
  background-image: -webkit-linear-gradient(45deg, rgba(239, 149, 103, 0.9) 0%, rgba(239, 149, 103, 0.9) 90%, transparent 90%, transparent 100%);
  background-image: linear-gradient(45deg, rgba(239, 149, 103, 0.9) 0%, rgba(239, 149, 103, 0.9) 90%, transparent 90%, transparent 100%);
  color: #fff;
  padding: 10px 15px;
}
.gift__description input,
.gift__description label {
  cursor: pointer;
}
.gift__description input[type="radio"]:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 3px solid #f08456;
}
.gift__description input[type="radio"]:checked:before {
  background-color: #f08456;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
}
.gift__item-head {
  font-size: 28px;
  font-family: "Segoe Ui Bold", sans-serif;
  margin: 0;
  color: #ffffff;
}
.gift__item-text {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0;
  color: #ffffff;
}
.howwork__head {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.howwork__item {
  position: relative;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  list-style: none;
  color: #434242;
}
.howwork__item:before {
  content: '';
  display: block;
}
.howwork__item:nth-child(1):before {
  background-image: url(../img/sprite.png);
  background-position: -177px -188px;
  width: 75px;
  height: 82px;
}
.howwork__item:nth-child(2):before {
  background-image: url(../img/sprite.png);
  background-position: -125px -104px;
  width: 75px;
  height: 82px;
}
.howwork__item:nth-child(3):before {
  background-image: url(../img/sprite.png);
  background-position: -217px -102px;
  width: 75px;
  height: 82px;
}
.howwork__item:nth-child(4):before {
  background-image: url(../img/sprite.png);
  background-position: -371px 0px;
  width: 75px;
  height: 82px;
}
.howwork__item:after {
  position: absolute;
  content: '';
  display: block;
  background-image: url(../img/sprite.png);
  background-position: 0px -291px;
  width: 239px;
  height: 12px;
  top: 70px;
  left: 50px;
}
.howwork__item:last-child:after {
  content: normal;
}
.howwork__item-head {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-family: "Segoe Ui Bold", sans-serif;
  margin-top: 25px;
}
.howwork__item-text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
.pay {
  margin-left: -10px;
  margin-right: -10px;
  margin: 40px 0;
  background-color: #336699;
  color: #fff;
  display: table;
  width: 100%;
}
.pay:after {
  content: '';
  display: block;
  clear: both;
}
.pay .bg-box {
  background-image: url(../img/pay-bg.jpg);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  position: relative;
}
.pay .bg-box:after {
  width: 0;
  height: 0;
  content: '';
  display: block;
  border: 65px solid transparent;
  border-top-color: #336699;
  position: absolute;
  top: 0;
  right: -65px;
}
.pay .test-box,
.pay .bg-box {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  float: none;
  display: table-cell;
}
.pay .test-box {
  padding: 50px 0 100px 0;
}
.pay__bgphoto {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  background-image: url(../img/pay-bg.jpg);
}
.pay__items {
  margin-left: 50px;
}
.pay__head {
  margin: 0 0 40px 0;
  text-align: left;
}
.pay__list {
  list-style: none;
}
.pay__item {
  font-size: 30px;
  padding: 10px 0;
  position: relative;
  padding-left: 80px;
}
.pay__item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
}
.pay__item:nth-child(1):before {
  background-image: url(../img/sprite.png);
  background-position: -407px -217px;
  width: 30px;
  height: 36px;
}
.pay__item:nth-child(2):before {
  background-image: url(../img/sprite.png);
  background-position: -371px -217px;
  width: 36px;
  height: 36px;
}
.pay__item:nth-child(3):before {
  background-image: url(../img/sprite.png);
  background-position: -371px -253px;
  width: 42px;
  height: 28px;
}
.pay__item:nth-child(4):before {
  background-image: url(../img/sprite.png);
  background-position: -371px -177px;
  width: 41px;
  height: 40px;
}
.pay__item:nth-child(5):before {
  background-image: url(../img/sprite.png);
  background-position: -412px -177px;
  width: 32px;
  height: 37px;
}
.worth {
  text-align: center;
}
.worth__list {
  font-size: 0;
}
.worth__item {
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  color: #434242;
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  font-size: 20px;
  padding-top: 120px;
}
.worth__item:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.worth .adv-comfort:before {
  background-image: url(../img/sprite.png);
  background-position: -125px 0px;
  width: 92px;
  height: 104px;
}
.worth .adv-design:before {
  background-image: url(../img/sprite.png);
  background-position: -86px -188px;
  width: 91px;
  height: 91px;
}
.worth .adv-protect:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -188px;
  width: 86px;
  height: 103px;
}
.worth .adv-pig:before {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 125px;
  height: 93px;
}
.worth .adv-light:before {
  background-image: url(../img/sprite.png);
  background-position: -305px 0px;
  width: 66px;
  height: 101px;
}
.worth .adv-target:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -93px;
  width: 118px;
  height: 95px;
}
.worth__item-head {
  display: block;
  text-align: center;
  font-family: "Segoe Ui Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.worth__item-text {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}
.form-worth {
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: 0px 20px 20px -10px #d6d4d4;
  box-shadow: 0px 20px 20px -10px #d6d4d4;
}
.form-worth .col {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.form-worth input,
.form-worth button {
  width: 100%;
}
.reviews .owl-carousel {
  width: 83.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-left: 8.33333333%;
}
.reviews__item {
  text-align: center;
}
.reviews__name {
  display: block;
}
.reviews .img-skin {
  display: inline-block;
  width: 145px;
  height: 145px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.reviews .owl-carousel .owl-nav {
  display: block;
}
.more__item {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.more__item:nth-child(3) {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
.more__item:nth-child(8) {
  width: 58.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.more__item:last-child {
  width: 41.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.more__item > div {
  position: relative;
}
.more__item > div:hover .bg-hover {
  opacity: 0.8;
}
.more__item > div:hover .bg-hover p {
  color: #ffffff;
}
.more .install-water {
  height: 430px;
}
.more .project,
.more .installation,
.more .boiler,
.more .boiler-rus {
  height: 345px;
}
.more .services,
.more .start {
  height: 260px;
}
.more .sewerage {
  height: 260px;
}
.more .more-bg {
  background-size: cover;
  background-position: center;
}
.more .project {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-project.jpg);
}
.more .installation {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-install.jpg);
}
.more .install-water {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-install-water.jpg);
}
.more .boiler {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-install-boiler.jpg);
}
.more .boiler-rus {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-install-boilerrus.jpg);
}
.more .services {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-service.jpg);
}
.more .start {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-start.jpg);
}
.more .sewerage {
  background-size: cover;
  background-position: center;
  background-image: url(../img/more-sewerage.jpg);
}
.more__btn {
  display: block;
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 100%;
  height: 260px;
  padding: 90px 20% 0 20%;
  background-color: #ffe252;
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0 0 0px 18px #ffe252, inset 0 0 0px 19px #fff;
  box-shadow: inset 0 0 0px 18px #ffe252, inset 0 0 0px 19px #fff;
}
.more__btn:before {
  content: '';
  display: block;
  background-image: url(../img/sprite.png);
  background-position: -371px -82px;
  width: 63px;
  height: 63px;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}
.sertificate .owl-carousel {
  width: 83.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-left: 8.33333333%;
}
.sertificate__item {
  margin: 10px;
  -webkit-box-shadow: 0px 0px 10px 3px #d8d8d8;
  box-shadow: 0px 0px 10px 3px #d8d8d8;
}
.map {
  height: 385px;
}
.question {
  background-image: url(../img/lastform-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 70px 0 50px 0;
  color: #fff;
}
.question .form-question {
  margin: 0 auto;
  width: 500px;
  padding: 0;
  text-align: center;
  border: none;
}
.question .form-question__head,
.question .form-question input,
.question .form-question textarea {
  display: block;
}
.question .form-question__head {
  font-family: "Segoe Ui Bold", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
}
.question .form-question input,
.question .form-question textarea {
  width: 100%;
  max-width: 100%;
  border: 2px solid #fff;
  background-color: transparent;
  margin-bottom: 25px;
  color: #fff;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.question .form-question input::-webkit-input-placeholder,
.question .form-question textarea::-webkit-input-placeholder {
  color: #fff;
}
.question .form-question input::-moz-placeholder,
.question .form-question textarea::-moz-placeholder {
  color: #fff;
}
.question .form-question input:-moz-placeholder,
.question .form-question textarea:-moz-placeholder {
  color: #fff;
}
.question .form-question input:-ms-input-placeholder,
.question .form-question textarea:-ms-input-placeholder {
  color: #fff;
}
.question .form-question textarea {
  min-height: 95px;
  padding: 15px;
}
.question .form-question .btn {
  background-color: #f08456;
  color: #fff;
  width: 190px;
  font-weight: normal;
  margin-top: 30px;
}
footer {
  background-color: #434242;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .logo-footer {
  width: 8.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-top: 5px;
}
footer .contacts {
  list-style: none;
  width: 66.66666667%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
footer .contacts li {
  margin-bottom: 10px;
}
footer .contacts a {
  color: #fff;
}
footer .phone,
footer .mail,
footer .adress {
  padding-left: 30px;
  position: relative;
  text-decoration: none;
}
footer .phone:before,
footer .mail:before,
footer .adress:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
footer .phone {
  font-family: "Segoe Ui Bold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
footer .phone:before {
  content: '';
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -322px -179px;
  width: 20px;
  height: 15px;
}
footer .mail {
  font-family: "Segoe Ui Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}
footer .mail:before {
  content: '';
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -423px -145px;
  width: 16px;
  height: 25px;
}
footer .adress {
  font-family: "Segoe Ui Lite", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
footer .adress:before {
  content: '';
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -356px -133px;
  width: 15px;
  height: 24px;
}
footer .copypast {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  font-family: "Segoe Ui Lite", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
footer .copypast a {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  html,
  body {
    min-width: 1200px;
  }
  .menu-burger,
  .menu-back {
    display: none;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .main-nav {
    display: block !important;
  }
  .promo .promo-text .btn {
    display: none;
  }
  .more__item .bg-hover {
    opacity: 0;
    font-family: "Segoe Ui Bold", sans-serif;
    font-size: 30px;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f08456;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .more__item .bg-hover p {
    color: #fff;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .gift__item:hover .gift__description {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .gift__description {
    top: 100%;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .worth .form-worth-call {
    display: none;
  }
  footer .range {
    font-size: 0;
  }
  footer .logo-footer,
  footer .contacts,
  footer .copypast {
    display: inline-block;
    float: none;
    vertical-align: bottom;
  }
  footer .contacts li:last-child {
    margin-bottom: 0;
  }
  footer .copypast {
    text-align: right;
  }
  footer .copypast span {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
  html,
  body {
    min-width: 768px;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: -40px;
  }
  .owl-carousel .owl-nav .owl-next {
    right: -40px;
  }
  header .container {
    position: relative;
  }
  header .menu-burger {
    display: block;
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -371px -145px;
    width: 52px;
    height: 32px;
    margin: 0;
    top: 10px;
  }
  header .logo {
    width: 16.66666667%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 41.66666667%;
    text-align: center;
  }
  header .main-nav {
    width: 33.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    background-color: #fff;
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
    display: none;
  }
  header .main-nav li {
    display: block;
    margin-right: 0;
    margin: 2px 0;
  }
  header .main-nav ul a {
    font-size: 18px;
    padding: 18px 25px;
    display: block;
    border: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .main-nav ul a:hover {
    background-color: #f08456;
    border: none;
  }
  header .main-nav .menu-back {
    display: block;
    background-image: url(../img/sprite.png);
    background-position: -413px -253px;
    width: 31px;
    height: 21px;
    margin: 20px 25px;
    cursor: pointer;
    padding: 0;
    margin: 18px 25px;
  }
  header .contacts {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    float: right;
  }
  .promo .form-calculate,
  .promo .promo-text {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  .promo .promo-text .btn {
    display: none;
  }
  .action {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .action__slogan {
    width: 56%;
    float: none;
    padding: 0 10px;
  }
  .action__slogan span {
    padding-left: 100px;
  }
  .action__slogan span:before {
    left: 0;
  }
  .action__description {
    width: 44%;
    float: none;
    padding: 20px 10px;
  }
  .action__description h2 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
  }
  .action__description:before {
    left: -75px;
    background-image: -webkit-linear-gradient(21deg, transparent 0%, transparent 50%, #3c5c81 50%, #336699 55%, #336699 100%);
    background-image: linear-gradient(69deg, transparent 0%, transparent 50%, #3c5c81 50%, #336699 55%, #336699 100%);
  }
  .gift__item {
    margin-bottom: 0;
  }
  .gift__col,
  .gift .form-gift__col {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  .gift__col:nth-child(1),
  .gift__col:nth-child(2) {
    margin-bottom: 30px;
  }
  .gift__description {
    bottom: 0;
    padding-right: 5px;
  }
  .gift .form-gift {
    padding: 30px 15px;
  }
  .gift .form-gift__item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  .gift .form-gift input[type=text] {
    margin-bottom: 50px;
    padding: 26px 15px;
  }
  .gift .form-gift .btn {
    padding: 43px 17px;
  }
  .howwork__item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding: 15px 30px;
  }
  .howwork__item:after {
    content: normal;
  }
  .pay .bg-box {
    width: 40%;
  }
  .pay .test-box {
    width: 60%;
  }
  .worth__item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    float: none;
    padding-top: 120px;
  }
  .worth .form-worth-call {
    display: none;
  }
  .worth .form-worth .col {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  .worth .form-worth .col:nth-child(1),
  .worth .form-worth .col:nth-child(2) {
    margin-bottom: 20px;
  }
  .more .range {
    margin-left: -15px;
    margin-right: -15px;
  }
  .more__item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding: 15px;
  }
  .more__item:nth-child(3) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding: 15px;
  }
  .more__item:nth-child(8),
  .more__item:nth-child(9) {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding: 15px;
  }
  .more__item .bg-hover {
    width: 100%;
    height: 40%;
    text-align: center;
    position: absolute;
    opacity: 0.8;
    bottom: 0;
    background-color: #f08456;
  }
  .more__item .bg-hover p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
    margin: 0;
    font-family: "Segoe Ui Bold", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .more .more__item > div {
    height: 300px;
  }
  .more__btn {
    height: 300px;
  }
  .more .project {
    background-image: url(../../img/more-project_tablet.jpg);
  }
  .more .installation {
    background-image: url(../../img/more-install_tablet.jpg);
  }
  .more .install-water {
    background-image: url(../../img/more-install-water_tablet.jpg);
  }
  .more .boiler {
    background-image: url(../../img/more-install-boiler_tablet.jpg);
  }
  .more .boiler-rus {
    background-image: url(../../img/more-install-boilerrus_tablet.jpg);
  }
  .more .services {
    background-image: url(../../img/more-service_tablet.jpg);
  }
  .more .start {
    background-image: url(../../img/more-start_tablet.jpg);
  }
  .more .sewerage {
    background-image: url(../../img/more-sewerage_tablet.jpg);
  }
  footer .logo-footer {
    width: 16.66666667%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
  }
  footer .contacts {
    width: 83.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  footer .copypast {
    width: 83.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 16.66666667%;
  }
  footer .copypast span:first-child {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 380px;
  }
  html,
  body {
    min-width: 380px;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: -20px;
  }
  .owl-carousel .owl-nav .owl-next {
    right: -20px;
  }
  header .container {
    position: relative;
  }
  header .menu-burger {
    display: block;
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -371px -145px;
    width: 52px;
    height: 32px;
    margin: 0;
    top: 10px;
  }
  header .logo {
    width: 33.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 16.66666667%;
    text-align: center;
  }
  header .main-nav {
    width: auto;
    background-color: #fff;
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
    display: none;
  }
  header .main-nav li {
    display: block;
    margin-right: 0;
    margin: 2px 0;
  }
  header .main-nav ul a {
    font-size: 18px;
    padding: 18px 25px;
    display: block;
    border: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .main-nav ul a:hover {
    background-color: #f08456;
    border: none;
  }
  header .main-nav .menu-back {
    display: block;
    background-image: url(../img/sprite.png);
    background-position: -413px -253px;
    width: 31px;
    height: 21px;
    margin: 20px 25px;
    cursor: pointer;
    padding: 0;
    margin: 18px 25px;
  }
  header .contacts {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    float: right;
  }
  .promo {
    padding-bottom: 120px;
    background-image: url(../../img/promo-bg_phone.jpg);
    background-position: center bottom;
  }
  .promo .promo-text {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
  }
  .promo .promo-text__head {
    line-height: 36px;
    margin-top: 15px;
  }
  .promo .promo-text .btn {
    color: #000;
    padding: 13px;
    width: 180px;
    margin-top: 30px;
  }
  .promo .form-calculate {
    display: none;
  }
  .action__slogan,
  .action__description {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .action__slogan {
    margin-left: 0;
  }
  .action__slogan span {
    padding-left: 100px;
    font-size: 27px;
  }
  .action__slogan span:before {
    left: 0px;
  }
  .action__slogan strong {
    font-size: 64px;
  }
  .action__description:before {
    content: normal;
  }
  .action__description h2 {
    margin: 0;
    font-size: 34px;
    line-height: 36px;
  }
  .gift__col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  .gift__photo {
    display: none;
  }
  .gift__description {
    position: static;
    background: none;
    padding: 0;
  }
  .gift__item-head,
  .gift__item-text {
    color: #434242;
  }
  .gift__item {
    height: auto;
    margin-bottom: 10px;
  }
  .gift .form-gift {
    padding-bottom: 5px;
    padding-top: 15px;
  }
  .gift .form-gift__item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-bottom: 15px;
  }
  .gift .form-gift .btn {
    padding: 25px 15px;
  }
  .howwork__item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    position: relative;
    padding-left: 100px;
    margin-bottom: 10px;
  }
  .howwork__item:before {
    position: absolute;
    left: 0;
    top: 5px;
  }
  .howwork__item:after {
    content: normal;
  }
  .howwork__item-head {
    margin-top: 0;
  }
  .pay {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .pay .bg-box {
    display: none;
  }
  .pay .test-box {
    width: 380px;
    margin: 0 auto;
    display: block;
    padding: 50px 0;
  }
  .pay__head {
    margin-bottom: 30px;
  }
  .pay__items {
    margin-left: 10px;
  }
  .pay__item {
    padding-left: 60px;
  }
  .worth__item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding-top: 120px;
  }
  .worth .form-worth-call {
    font-weight: normal;
    width: 300px;
  }
  .form-worth {
    display: none;
  }
  .form-worth .col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-bottom: 20px;
  }
  .form-worth .col:last-child {
    margin-bottom: 0;
  }
  .more__item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .more__item:nth-child(3) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .more__item:nth-child(8),
  .more__item:nth-child(9) {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .more__item .bg-hover {
    width: 100%;
    height: 40%;
    text-align: center;
    position: absolute;
    opacity: 0.8;
    bottom: 0;
    background-color: #f08456;
  }
  .more__item .bg-hover p {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    margin: 0;
    font-family: "Segoe Ui Bold", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .more .more__item > div {
    height: 200px;
  }
  .more__btn {
    height: 200px;
    padding: 80px 0 0 0;
    -webkit-box-shadow: inset 0 0 0px 5px #ffe252, inset 0 0 0px 6px #fff;
    box-shadow: inset 0 0 0px 5px #ffe252, inset 0 0 0px 6px #fff;
  }
  .more__btn:before {
    top: 10%;
  }
  .question .form-question {
    width: 90%;
  }
  footer .logo-footer {
    width: 33.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
  }
  footer .contacts {
    width: 66.66666667%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  footer .contacts .adress {
    display: block;
  }
  footer .contacts .adress:before {
    margin: 0;
    top: 3px;
  }
  footer .copypast {
    border-top: 1px solid grey;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
  }
  footer .copypast span {
    display: block;
  }
}
