.promo{
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 37px 0;
}
.promo-text{
  .col-8;
  color: #ffffff;
  &__head{
    font-size: 30px;
    line-height: 30px;
    margin: 35px 0 11px 0;
    .ffbold;
    text-transform: uppercase;
  }
  &__slogan{
    font-size: 32px;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }
}
.form-calculate{
  .col-4;
  .btn-form-calculate{
    display: none;
  }
  .calculate__head{
    color: #434242;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;

    strong{
      .ffbold;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .form{
    // display: inline-block;
    background-color: rgba(255, 255, 255, .8);
    color: @text-color;
    padding: 24px 29px 31px 33px;
    border: none;
    font-size: 0;
    input{
      width: 100%;
    }

    .form-row:nth-of-type(4), .form-row:nth-of-type(5){
      width: 48%;
      display: inline-block;
    }
    .form-row:nth-of-type(4){
      margin-right: 4%;
    }
    input{
      // float: left;
      background-color: transparent;
      font-size: 18px;
      border: 1px solid #434242;
      padding: 16px 10px;
      margin-bottom: 15px;
      z-index: 10;
    }
    .btn{
      background-color: @yellow-color;
      font-size: 18px;
      width: 100%;
      padding: 15px 10px;
    }

  }
}