@media screen and (min-width: @laptop-min) {
  .container{
    width: @laptop-min;
  }
  html, body{
    min-width: @laptop-min;
  }
  .menu-burger, .menu-back{
    display: none;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .main-nav{
    display: block !important;
  }
  .promo{
    .promo-text{
      .btn{
        display: none;
      }
    }
  }
  .gift{
    & .error{
      left: 52px;
    }
  }
  .more{
    &__item{
      & .bg-hover{
        opacity: 0;
        .ffbold;
        font-size: 30px;
        text-align: center;
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: @orange-color;
        transition: all 0.3s ease;
        p{
          color: #fff;
          position: absolute;
          margin: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .concrete{
    &__description{
      transition: all 0.3s ease;
    }
    // &__text{
    //   transition: all 0.3s ease;
    //   &:before{
    //     width: 0;
    //     transition: all 0.3s ease;
    //   }
    // }
    &__animate{
      & .concrete__img{
        transition: all 0.3s ease;
      }
      &:hover .concrete__img{
        &:nth-child(1){
          top: 0;
        }
        &:nth-child(2){
          top: 45px;
        }
        &:nth-child(3){
          top: 105px;
        }
        &:nth-child(4){
          top: 155px;
        }
        &:nth-child(5){
          top: 213px;
        }
        &:nth-child(6){
          top: 273px;
        }
      }
      &:hover .concrete__text{
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          border-bottom: 1px solid #000;
          width: 100px;
          height: 1px;
          top: 0;
          bottom: 0;
          left: -115px;
          margin: auto;
          z-index: 999999999;
        }

        &:after{
          content: '';
          display: block;
          position: absolute;
          border: 1px solid #000;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 0;
          bottom: 0;
          left: -122px;
          margin: auto;
          z-index: 999999999;
        }
      }
      &:hover .concrete__description{
        margin-bottom: 15px;
        &:nth-child(1) .concrete__text{
          &:before{
            width: 150px;
            left: -165px;
          }
          &:after{
            left: -172px;
          }
        }
        &:nth-child(2) .concrete__text{
          &:before{
            width: 90px;
            left: -105px;
          }
          &:after{
            left: -112px;
          }
        }
        &:nth-child(3) .concrete__text{
          &:before{
            width: 100px;
            left: -115px;
          }
          &:after{
            left: -121px;
          }
        }
      }
    }
  }

  .wood{
    &__description{
      transition: all 0.3s ease;
    }
    &__animate{
      & .wood__img{
        transition: all 0.3s ease;
      }
      &:hover .wood__img{
        &:nth-child(1){
          top: 0;
        }
        &:nth-child(2){
          top: 45px;
        }
        &:nth-child(3){
          top: 105px;
        }
        &:nth-child(4){
          top: 155px;
        }
        &:nth-child(5){
          top: 213px;
        }
        &:nth-child(6){
          top: 273px;
        }
      }
      &:hover .wood__description{
        margin-bottom: 15px;
      }
      &:hover .wood__text{
        position: relative;
        &:before{
          content: '';
          display: block;
          position: absolute;
          border-bottom: 1px solid #000;
          width: 180px;
          height: 1px;
          top: 0;
          bottom: 0;
          left: -195px;
          margin: auto;
          z-index: 999999999;
        }
        // &:nth-child(1):before{
        //   width: 150px;
        //   left: -165px;
        // }
        &:after{
          content: '';
          display: block;
          position: absolute;
          border: 1px solid #000;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: 0;
          bottom: 0;
          left: -202px;
          margin: auto;
          z-index: 999999999;
        }
      }
      &:hover .wood__description{
        margin-bottom: 15px;
        &:nth-child(1) .wood__text{
          &:before{
            width: 150px;
            left: -165px;
          }
          &:after{
            left: -172px;
          }
        }
        &:nth-child(2) .wood__text{
          &:before{
            width: 170px;
            left: -185px;
          }
          &:after{
            left: -192px;
          }
        }
        &:nth-child(3) .wood__text{
          &:before{
            width: 115px;
            left: -130px;
          }
          &:after{
            left: -135px;
          }
        }
        &:nth-child(5) .wood__text{
          &:before{
            width: 85px;
            left: -100px;
          }
          &:after{
            left: -105px;
          }
        }
        &:nth-child(6) .wood__text{
          &:before{
            width: 85px;
            left: -100px;
          }
          &:after{
            left: -105px;
          }
        }
      }
    }
  }

  .gift{
    &__item{
      &:hover .gift__description{
        transform: translateY(-100%);
      }
    }
    &__description{
      top: 100%;
      transform: translateY(-60px);
      transition: all 0.3s ease;
      input[type="radio"], input[type="radio"]{
        display: none;
      }
      input[type="radio"]:before, input[type="radio"]:after{
        content: normal;
      }
    }
    &--active{
      transform: translateY(-100%);
    }
  }
  .worth{
    .form-worth-call{
      display: none;
    }
  }
  footer{
    .range{
      font-size: 0;
    }
    .logo-footer, .contacts, .copypast{
      display: inline-block;
      float: none;
      vertical-align: bottom;
    }
    .contacts{
      li:last-child{
        margin-bottom: 0;
      }
    }
    .copypast{
      text-align: right;
      span{
        display: block;
      }
    }
  }
  .up-button{

    transform: translateX(-@laptop-min/2 + 42px);
  }
}

@media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {
  .container{
    width: @tablet-min;
  }
  html, body{
    min-width: @tablet-min;
  }
  .owl-carousel{
    & .owl-nav{
      .owl-prev{
        left: -40px;
      }
      .owl-next{
        right: -40px;
      }
    }
  }
  .up-button{
    bottom: 125px;
    transform: translateX(-@tablet-min/2 + 66px);
  }
  @import url(responsive/header_tablet.less);
  @import url(responsive/promo_tablet.less);
  @import url(responsive/action_tablet.less);
  @import url(responsive/floor_tablet.less);
  @import url(responsive/gift_tablet.less);
  @import url(responsive/howwork_tablet.less);
  @import url(responsive/pay_tablet.less);
  @import url(responsive/worth_tablet.less);
  @import url(responsive/reviews_tablet.less);
  @import url(responsive/more_tablet.less);
  @import url(responsive/sertificate_tablet.less);
  @import url(responsive/map_tablet.less);
  @import url(responsive/question_tablet.less);
  @import url(responsive/footer_tablet.less);
}

@media screen and (max-width: @phone-max) {
  .container{
    min-width: @phone-min;
  }
  html, body{
    min-width: @phone-min;
  }
  .owl-carousel{
    & .owl-nav{
      .owl-prev{
        left: -20px;
      }
      .owl-next{
        right: -20px;
      }
    }
  }
  .up-button{
    bottom: 40px;
    transform: translateX(-@phone-min/2 + 42px);
  }
  .hidden-form{
    display: none;
  }
  .visible-form{
    display: block;
    position: fixed;
  }
  .form-close{
    top: 5px;
    right: 5px;
    display: block;
    position: absolute;
    .sprite(@icon-modal-close);
    cursor: pointer;
  }
  .form{
    width: @phone-min - 40px;
    h3{
      margin-top: 0;
      text-align: center;
    }
    & input, & button{
      width: 100%;
    }
    & input{
      margin-bottom: 20px;
    }
  }

  @import url(responsive/header_phone.less);
  @import url(responsive/promo_phone.less);
  @import url(responsive/action_phone.less);
  @import url(responsive/floor_phone.less);
  @import url(responsive/gift_phone.less);
  @import url(responsive/howwork_phone.less);
  @import url(responsive/pay_phone.less);
  @import url(responsive/worth_phone.less);
  @import url(responsive/reviews_phone.less);
  @import url(responsive/more_phone.less);
  @import url(responsive/sertificate_phone.less);
  @import url(responsive/map_phone.less);
  @import url(responsive/question_phone.less);
  @import url(responsive/footer_phone.less);
}
