@media screen and (min-width: @laptop-min) {
  .container{
    width: @laptop-min;
  }
  html, body{
    min-width: @laptop-min;
  }
  .menu-burger, .menu-back{
    display: none;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .main-nav{
    display: block !important;
  }
  .promo{
    .promo-text{
      .btn{
        display: none;
      }
    }
  }
  .more{
    &__item{
      & .bg-hover{
        opacity: 0;
        .ffbold;
        font-size: 30px;
        text-align: center;
        position: absolute;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: @orange-color;
        transition: all 0.3s ease;
        p{
          color: #fff;
          position: absolute;
          margin: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .gift{
    &__item{
      &:hover .gift__description{
        transform: translateY(-100%);
      }
    }
    &__description{
      top: 100%;
      transform: translateY(-60px);
      transition: all 0.3s ease;
    }
  }
  .worth{
    .form-worth-call{
      display: none;
    }
  }
  footer{
    .range{
      font-size: 0;
    }
    .logo-footer, .contacts, .copypast{
      display: inline-block;
      float: none;
      vertical-align: bottom;
    }
    .contacts{
      li:last-child{
        margin-bottom: 0;
      }
    }
    .copypast{
      text-align: right;
      span{
        display: block;
      }
    }
  }
  .up-button{

    transform: translateX(-@laptop-min/2 + 42px);
  }
}

@media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {
  .container{
    width: @tablet-min;
  }
  html, body{
    min-width: @tablet-min;
  }
  .owl-carousel{
    & .owl-nav{
      .owl-prev{
        left: -40px;
      }
      .owl-next{
        right: -40px;
      }
    }
  }
  .up-button{
    bottom: 125px;
    transform: translateX(-@tablet-min/2 + 66px);
  }
  @import url(responsive/header_tablet.less);
  @import url(responsive/promo_tablet.less);
  @import url(responsive/action_tablet.less);
  @import url(responsive/gift_tablet.less);
  @import url(responsive/howwork_tablet.less);
  @import url(responsive/pay_tablet.less);
  @import url(responsive/worth_tablet.less);
  @import url(responsive/reviews_tablet.less);
  @import url(responsive/more_tablet.less);
  @import url(responsive/sertificate_tablet.less);
  @import url(responsive/map_tablet.less);
  @import url(responsive/question_tablet.less);
  @import url(responsive/footer_tablet.less);
}

@media screen and (max-width: @phone-max) {
  .container{
    width: @phone-min;
  }
  html, body{
    min-width: @phone-min;
  }
  .owl-carousel{
    & .owl-nav{
      .owl-prev{
        left: -20px;
      }
      .owl-next{
        right: -20px;
      }
    }
  }
  .up-button{
    bottom: 40px;
    transform: translateX(-@phone-min/2 + 42px);
  }
  @import url(responsive/header_phone.less);
  @import url(responsive/promo_phone.less);
  @import url(responsive/action_phone.less);
  @import url(responsive/gift_phone.less);
  @import url(responsive/howwork_phone.less);
  @import url(responsive/pay_phone.less);
  @import url(responsive/worth_phone.less);
  @import url(responsive/reviews_phone.less);
  @import url(responsive/more_phone.less);
  @import url(responsive/sertificate_phone.less);
  @import url(responsive/map_phone.less);
  @import url(responsive/question_phone.less);
  @import url(responsive/footer_phone.less);
}
