.gift{
  &__col{
    .col-12;
  }
  &__photo{
    display: none;
  }
  &__description{
    position: static;
    background: none;
    padding: 0;
  }
  &__item-head, &__item-text{
    color: @text-color;
  }

  &__item{
    height: auto;
    margin-bottom: 10px;
  }
  .form-gift{
    padding-bottom: 5px;
    padding-top: 15px;
    &__item{
      .col-12;
      margin-bottom: 15px;
    }
    .btn{
      padding: 25px 15px;
    }
  }
}
