.worth{
  &__item{
    .col-6;
    float: none;
    padding-top: 120px;
  }

  .form-worth{
    .col{
      .col-6;

      &:nth-child(1), &:nth-child(2){
        margin-bottom: 20px;
      }
    }
  }
}