.worth{

  &__item{
    .col-12;
    padding-top: 120px;
  }
  .form-worth-call{
    font-weight: normal;
    width: 300px;
  }
}
.form-worth{
  display: none;
  .col{
    .col-12;
    margin-bottom: 20px;
  }
  .col:last-child{
    margin-bottom: 0;
  }
}